/*无忧装*/
.wyz_banner {
    position: relative;
    height: 650px;
}

.wyz_banner img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}

.wyz_tit {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 46px;
}

.wyz_tit h4 {
    font-size: 52px;
    line-height: 76px;
    color: #9f8869;
}

.wyz_tit h5 {
    color: #000;
    margin-right: 16px;
    font-size: 34px;
    padding: 0 10px;
    height: 32px;
    line-height: 40px;
    font-weight: 200;
    height: 100px;
}

.wyz_tit h6 img {
    width: 36px;
    height: 16px;
    display: block;
    margin: 10px auto;
}

.wyz_box01 {
    background: url(../image/wyzsj_bg01.jpg) no-repeat center top;
    height: 1310px;
    overflow: hidden;
}

.wyz_box01 .w1200 .hd {
    text-align: center;
}

.wyz_box01 .w1200 .hd ul li {
    display: inline-block;
    width: 162px;
    height: 60px;
    border: 1px solid #947a4e;
    color: #947a4e;
    line-height: 60px;
    margin: 0 9px;
    font-size: 24px;
    cursor: pointer;
}

.wyz_box01 .w1200 .hd ul li.on {
    background-color: #947a4e;
    color: white;
}

.wyz_box01 .w1200 .bd {
    margin-top: 60px;
    overflow: hidden;
}

.wyz_box01 .w1200 .bd ul li {
    height: 540px;
    width: 1200px;
    overflow: hidden;
    position: relative;
}

.wyz_box01 .w1200 .bd ul li h2 {
    font-weight: normal;
    font-size: 30px;
    color: #947a4e;
    line-height: 51px;
}

.wyz_box01 .w1200 .bd ul li h3 {
    font-weight: normal;
    font-size: 16px;
    color: #947a4e;
    line-height: 16px;
    opacity: 0.6;
}

.wyz_box01 .w1200 .bd ul li span {
    display: inline-block;
    height: 35px;
    background-color: #947a4e;
    line-height: 35px;
    color: white;
    font-size: 20px;
    padding: 0 8px 0 11px;
    margin: 10px 0 22px;
}

.wyz_box01 .w1200 .bd ul li span::after {
    content: '';
    display: inline-block;
    height: 35px;
    width: 5px;
    background-color: white;
    margin-left: 11px;
    vertical-align: top;
}

.wyz_box01 .w1200 .bd ul li p {
    width: 368px;
    line-height: 24px;
    color: #666;
    height: 96px;
    overflow: hidden;
    font-size: 18px;
}

.wyz_box01 .w1200 .bd ul li dl dt {
    line-height: 40px;
    color: #333;
    font-size: 20px;
    clear: both;
}

.wyz_box01 .w1200 .bd ul li dl dd {
    float: left;
    width: 76px;
    height: 14px;
}

.wyz_box01 .w1200 .bd ul li img {
    position: absolute;
    right: 0;
    top: 0;
}

.wyz_box02 {
    width: 1920px;
}

.wyz_box02 img {
    width: 1920px;
    display: block;
}


.wyz_box03 {
    background: url(../images/wyz_bg04.jpg) no-repeat center top;
    height: 1375px;
    overflow: hidden;
}

.wyz_tit04 {
    text-align: center;
    margin-top: 60px;
    color: #947a4e;
}

.wyz_tit04 h4 {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 10px;
}


.wyz_tit04 h5 {
    font-size: 20px;
    line-height: 30px;
}

.wyz_tit04::after {
    content: " ";
    display: inline-block;
    width: 58px;
    height: 2px;
    background-color: #947a4e;
}


.wyz_box03 > .w1200 > img {
    margin: 30px auto;
}

.wyz_box03_top {
    background: url(../images/wyz_bg04.png) no-repeat center top;
    width: 1200px;
    height: 600px;
    position: relative;
}

.wyz_box03_top ul li {
    color: white;
    position: absolute;
}

.wyz_box03_top ul li span {
    font-size: 20px;
    line-height: 20px;
}

.wyz_box03_top ul li p {
    font-size: 16px;
    margin-top: 20px;
}

.wyz_box03_top ul li:first-child {
    left: 35px;
    top: 44px;
    width: 172px;
}

.wyz_box03_top ul li:first-child + li {
    left: 73px;
    top: 442px;
    width: 226px;
}

.wyz_box03_top ul li:first-child + li + li {
    left: 546px;
    top: 244px;
    width: 144px;
}

.wyz_box03_top ul li:first-child + li + li + li {
    right: 35px;
    top: 44px;
    width: 144px;
}

.wyz_box03_top ul li:first-child + li + li + li + li {
    right: 305px;
    top: 442px;
    width: 158px;
}

.wyz_tit05 {
    text-align: center;
    color: #947a4e;
    margin-top: 65px;
}

.wyz_tit05 h4 {
    font-size: 38px;
    line-height: 38px;
    display: inline-block;
}

.wyz_tit05 h4::before, .wyz_tit05 h4::after {
    content: " ";
    display: inline-block;
    width: 328px;
    height: 0px;
    border-bottom: 2px dotted #947a4e;
    vertical-align: middle;
    margin: 0 16px;
}

.wyz_tit05 h5 {
    font-size: 24px;
    line-height: 74px;
}

.wyz_box03_bottom ul {
    background: url(../images/wyz_bg05.png) no-repeat center top;
    overflow: hidden;
    padding-left: 73px;
    margin-top: 20px;
}

.wyz_box03_bottom ul li {
    float: left;
    text-align: center;
    width: 138px;
    margin-right: 90px;
    padding-top: 137px;
}

.wyz_box03_bottom ul li h5 {
    color: white;
    font-size: 24px;
    line-height: 24px;
}

.wyz_box03_bottom ul li:first-child + li + li + li + li {
    margin-right: 0;
}


.wyz_box04 {
    background: url(../images/wyz_bg05.jpg) no-repeat center top;
    height: 720px;
    overflow: hidden;
}

.wyz_box04 ul {
    width: 1200px;
    margin: 80px auto 0;
    overflow: hidden;
}

.wyz_box04 ul li {
    float: left;
    width: 268px;
    height: 374px;
    border: 1px solid #d3c19d;
    border-radius: 134px;
    margin-right: 40px;
    text-align: center;
    overflow: hidden;
}

.wyz_box04 ul li h4 {
    font-size: 48px;
    color: #dbdbdb;
    line-height: 120px;
}

.wyz_box04 ul li span {
    font-size: 24px;
    color: #333;
    margin-top: 88px;
    line-height: 24px;
    display: inline-block;
}

.wyz_box04 ul li p {
    font-size: 18px;;
    color: #666;
    margin-top: 16px;
}

.wyz_box04 ul li:first-child {
    background: url(../image/wyz_bg06.png) no-repeat left 112px #fff;
}

.wyz_box04 ul li:first-child + li {
    background: url(../image/wyz_bg06.png) no-repeat -310px 112px #fff;
}

.wyz_box04 ul li:first-child + li + li {
    background: url(../image/wyz_bg06.png) no-repeat -620px 112px #fff;
}

.wyz_box04 ul li:first-child + li + li + li {
    background: url(../image/wyz_bg06.png) no-repeat -930px 112px #fff;
    margin-right: 0;
}

.wyz_box05 .w1200 {
    height: 500px;
}

.wyz_box05 .w1200 .hd {
    background: url(../image/wyz_icon02.png) repeat-x center 115px;
    overflow: hidden;
    margin-top: 40px;
}

.wyz_box05 .w1200 .hd ul li {
    float: left;
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.wyz_box05 .w1200 .hd ul li img {
    display: inline-block;
}

.wyz_box05 .w1200 .hd ul li span {
    display: block;
    font-size: 24px;
    line-height: 60px;
    color: #947a4e;
}

.wyz_box05 .w1200 .hd ul li p {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border: 2px solid #d3c19d;
    background-color: white;
    border-radius: 50%;
}

.wyz_box05 .w1200 .hd ul li p em {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #d3c19d;
    margin: 4px;
    border-radius: 50%;
    opacity: 0;
}

.wyz_box05 .w1200 .hd ul li i {
    display: block;
    width: 2px;
    height: 40px;
    background-color: #d3c19d;
    margin: 3px auto 0;
    opacity: 0;
}

.wyz_box05 .w1200 .hd ul li.on em, .wyz_box05 .w1200 .hd ul li.on i {
    opacity: 1;
}

.wyz_box05 .w1200 .bd ul li {
    margin-left: 18px;
    display: inline-block;
    border-top: 2px solid #d3c19d;
    width: 1164px;
}

.wyz_box05 .w1200 .bd ul li span {
    display: block;
    float: left;
    color: #333;
    font-size: 18px;
    width: 16px;
    line-height: 22px;
    margin-right: 32px;
}

.wyz_box05 .w1200 .bd ul li span::before {
    content: " ";
    display: block;
    width: 2px;
    height: 28px;
    margin: 0 auto 15px;
    background-color: #d3c19d;
}

.wyz_box05 .w1200 .bd ul li span:first-child {
    margin-left: -7px;
}

.wyz_box05 .w1200 .bd ul li span img {
    margin: 0 auto;
}

.wyz_box06 {
    width: 1920px;
    background: #fff;
    padding-bottom: 20px;
}

.wyz_box06 .pplogo img {
    padding-top: 20px;
    margin: 0 auto;
}

.wyz_box07 {
    width: 1920px;
    background: #f0f0f0;
    padding-top: 0.2px;
}

.wyz_box07 .pwrz img {
    width: 1200px;
    padding-top: 20px;
    margin: 0 auto;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: fixed;
    height: 296px;
    left: 0;
    right: 0;
    bottom: -146px;
}

.bgTop {
    z-index: 15;
    opacity: 0.1;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.3;
}

.bgBottom {
    z-index: 5;
    opacity: 0.5
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 150px;
    background-repeat: repeat no-repeat;
    background-position: 0 -1px;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 150px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 190px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 200px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.bqk {
    margin: 0px auto;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.bqknr {
    width: 900px;
    height: 50px;
    padding-top: 100px;
    margin: 0 auto;
    line-height: 50px;
    overflow: hidden;
}

.bqknr p {
    font-size: 24px;
    color: #FFFFFF;
    float: left;
}

.bqknr p span {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: normal;
    padding-left: 10px;
    opacity: 0.6;
}

.bqknr p b {
    color: #d8be8b;
    font-weight: normal;
}

.bqknr i {
    width: 40px;
    height: 48px;
    background: url(../images/bottom_an.png) no-repeat;
    float: right;
}

.tcb {
    width: 100%;
    overflow: hidden;
    margin-top: 1px;
    background-color: rgba(0, 0, 0, 0.65);
    height: 145px;
}

.tcbnr {
    width: 900px;
    height: 118px;
    margin: 0 auto;
    background: white;
}

.tcbnr_l {
    overflow: hidden;
    margin: 14px 0px;
    padding: 18px 0 0;
}

.tcbnr_l ul {
    overflow: hidden;
    float: left;
    width: 760px;
}

.tcbnr_l ul li {
    line-height: 24px;
    position: relative;
    margin-bottom: 12px;
    overflow: hidden;
    float: left;
    margin-left: 20px;
}

.tcbnr_l ul li span {
    font-size: 14px;
    margin-left: 0px;
}

.tcbnr_l ul li em {
    font-size: 14px;
    font-style: normal;
    position: absolute;
    top: 4px;
    right: 10px;
}

.tcbnr_l ul li input {
    width: 278px;
    padding: 0 10px;
    border: 1px solid #ccc;
    height: 37px;
    font-family: "Microsoft YaHei";
    background-color: transparent;
}

.tcbnr_l ul li i {
    font-style: normal;
    position: absolute;
    top: 2px;
    right: 59px;
    font-size: 14px;
    color: #666;
}

.tcbnr_l ul li select {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 7px;
    width: 73px;
    height: 24px;
}

.tcbnr_l ul li textarea {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    padding: 4px 7px;
    width: 286px;
    height: 75px;
    font-family: "Microsoft YaHei";
}

.tcbnr_l ul li p {
    margin-left: 77px;
    color: #d0111b;
    line-height: 12px
}

.tcbnr_l button {
    float: right;
    width: 86px;
    height: 86px;
    background-color: #d8be8b;
    text-align: center;
    font-size: 24px;
    border: none;
    color: #fff;
    margin-right: 20px;
}


.bqknr i.up {
    animation: bounce-up 1.4s linear infinite;
    background-position: -50px 0;
}

/*.tcb{ position: absolute; bottom: -300px; width:100%;}*/
.bqk {
    z-index: 99999;
    width: 100%;
}

.bqknr i.down {
    background-position: 0;
}

@-webkit-keyframes bounce-up {
    25% {
        -webkit-transform: translateY(10px);
    }
    50%, 100% {
        -webkit-transform: translateY(0);
    }
    75% {
        -webkit-transform: translateY(-10px);
    }
}

@keyframes bounce-up {
    25% {
        transform: translateY(10px);
    }
    50%, 100% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
}
