@charset "utf-8";
/* CSS Document */
a {
    color: #666;
}

.trip-list-item .user img {
    width: 100px;
    margin-left: -10px;
}

body {
    background: #fafafa;
}

.trip-list-item .user {
    background: rgba(0, 0, 0, 0) url("../images/user.png") no-repeat scroll center center / 70px auto;
    border-radius: 35px;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    overflow: hidden;
    position: absolute;
    top: 266px;
    width: 70px;
}

.trip-list-item .meta {
    color: #999;
    font-size: 12px;
}

.trip-list-item .name {
    font-size: 18px;
    margin-top: 50px;
}

.trip-list-item .name1 {
    float: left;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
    width: 90%;
    padding: 10px 5% 0 5%;
    text-align: center;
}

.trip-list-item .name1 span {
    float: left;
    display: inline;
}

.trip-list-item .name1 a {
    float: right;
    display: inline;
    border: 1px solid #90bf20;
    width: 52px;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 13px;
    text-align: center;
    color: #90bf20;
    letter-spacing: 3px;
}

.trip-list-item .cover-image {
    background-color: #d8d8d8;
    height: 287px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.trip-list-item .cover-image img {
    display: block;
    width: 100%;
}

.trip-list-item .inner {
    background: #fff;
    height: 495px;
}

.trip-list-v2 .trip-list-item {
    float: left;
    margin: 0 10px 20px 0;
}

.trip-list-v2 .designer {
    height: 480px;
}

.trip-list-v2 .designer h1.name {
    margin-top: 0;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.trip-list-v2 .designer p {
    padding: 10px;
    text-align: left;
}

.trip-list-item {
    background: url("../images/trip-list-item-shadow.png") no-repeat scroll center bottom;
    border-radius: 4px 4px 0 0;
    height: 400px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 400px;
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.3);
}

.page-container {
    margin: 30px auto 0;
    width: 1220px;
}

.contents-filter .filter-item i {
    background: rgba(0, 0, 0, 0) url("../images/v2-sprite-babb.png") no-repeat scroll 0 -100px;
    height: 6px;
    margin-left: 10px;
    width: 12px;
}

.contents-filter .filter-item span, .contents-filter .filter-item i {
    display: inline-block;
    vertical-align: middle;
}

.contents-filter .filter-item span, .contents-filter .filter-item i {
    display: inline-block;
    vertical-align: middle;
}


.contents-filter .filter-item {
    color: #555;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    text-align: center;
    vertical-align: top;
    width: 140px;
}

.contents-filter .filter-item.selected {
    background: rgba(0, 0, 0, 0) url("../images/v2-sprite-babb.png") no-repeat scroll 0 -50px;
    color: #fff;
}

.contents-filter .filter-item {
    color: #555;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    text-align: center;
    vertical-align: top;
    width: 140px;
}


.contents-filter {
    height: 40px;
    margin: 0 auto;
    padding: 20px 0 10px;
    position: relative;
    text-align: center;
    width: 990px;
}

.trips-filter-dropdown {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ededed;
    border-radius: 4px;
    display: none;
    left: 50%;
    margin-left: -335px;
    max-height: 460px;
    overflow: hidden;
    position: absolute;
    top: 70px;
    width: 670px;
    z-index: 9999;
}

/*设计师列表*/
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
    position: relative;
    font-size: 12px;
}

.list .box3 {
    width: 245px;
    height: 45px;
    overflow: hidden;
    margin: 0 auto;
    text-align: left;
    color: #666;
    padding: 5px 0;
}

.here {
    color: #666;
    padding: 20px 0 10px;
}

.bg-white {
    background: #fff;
}

.col-xs-3 {
    float: left;
    width: 24%;
    margin-right: 1%;
}

.list {
    margin-top: 20px;
    padding: 20px 15px;
    overflow: hidden;
}

.list .item {
    border: 1px solid #f8f8f8;
    box-shadow: 0 1px 1px #f5f5f5;
    height: 320px;
    line-height: 22px;
    margin: 0 auto 10px;
    position: relative;
    width: 280px;
}

.text-center {
    text-align: center;
}

.ico-tag-2 {
    background-position: -50px 0;
}

.ico-tag {
    position: absolute;
    left: 20px;
    top: 0;
    width: 50px;
    height: 66px;
    background: url("../images/ico-tag.png") no-repeat;
    z-index: 1;
}

.list .box1 {
    position: relative;
    width: 100%;
    width: 280px;
    height: 220px;
    overflow: hidden;
}

.list .box1 p {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all ease .2s;
    -webkit-transition: all ease .2s;
}

.list .box1:hover p {
    opacity: 1;
    visibility: visible;
}

.list .box1 p a.zixun {
    left: 0;
}

.list .box1 .zixun, .list .box1 .guihua {
    position: absolute;
    bottom: 0;
    width: 137px;
    height: 34px;
    line-height: 34px;
    border: solid 1px #fff;
    color: #000;
    transition: all ease .1s;
    -webkit-transition: all ease .1s;
    background: #f1f1f1;
}

.list .box1 p a:hover {
    background: #ff343e none repeat scroll 0 0;
    border-color: #ff343e;
    color: #fff;
}

.list .box2 {
    width: 245px;
    border-bottom: solid 1px #ddd;
    line-height: 30px;
    margin: 0 auto;
}

.list .name {
    font-size: 18px;
    display: inline-block;
    max-width: 6em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.list .job {
    position: relative;
    top: 3px;
}

.col-xs-6 {
    width: 50%;
}

.text-red, .text-red a {
    color: #ff343f;
}

.list .box3 .col-xs-12 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.col-xs-12 {
    width: 100%;
}

/*设计师内页*/
.bg-gray {
    background: #f7f7f7;
    padding-bottom: 20px;
}

.container {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.elite-detaile .here {
    position: absolute;
    color: #fff;
}

.elite-detaile .here a {
    color: #fff;
}

.elite-detaile-banner {
    height: 265px;
    color: #fff;
    line-height: 24px;
    overflow: hidden;
}

.elite-detaile-banner .text-center span {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: 53px auto 0;
}

.elite-detaile-banner .headPic {
    width: 120px;
    margin-left: -15px;
    margin-top: -5px;
    border: solid 2px #fff;
}

.elite-detaile-banner .name {
    font-size: 16px;
}

.elite-detaile-banner .jingyan {
    color: #fff;
}

.elite-detaile .content {
    margin-top: 20px;
}

.AreaL {
    width: 905px;
    float: left;
}

.elite-detaile-content {
    overflow: hidden;
    padding: 10px 20px 20px;
}

.elite-detaile-content .win-title {
    margin: 0;
}

.win-title {
    height: 40px;
    margin: 30px 0 20px;
    border-bottom: solid 1px #ddd;
    position: relative;
}

.win-title .tit {
    font-weight: normal;
    color: #333;
    float: left;
    border-bottom: solid 1px #000;
    font-size: 18px;
    line-height: 40px;
}


.case {
    margin: 20px -5px 10px;
}


.col-xs-4 {
    width: 33.33333333%;
}

.case .item {
    width: 280px;
    margin: 0 auto 10px;
    position: relative;
    height: 220px;
}

.elite-list .list {
    padding: 0;
}

.case .item .pic {
    width: 280px;
    height: 220px;
    overflow: hidden;
    display: block;
}

.case .item .pic img {
    width: 280px;
    height: 220px;
}

.case .item .headPic {
    position: absolute;
    right: 20px;
    bottom: 30px;
    border: solid 2px #fff;
    border-radius: 50%;
    overflow: hidden;
}

.case .item .headPic img {
    border-radius: 50%;
    width: 80px;
    margin-left: -10px;
    height: auto !important;
}

.case .item .info {
    height: 56px;
    border: solid 1px #ddd;
}

.case .item .p1 {
    padding-left: 15px;
    margin-top: 5px;
    line-height: 22px;
    font-size: 14px;
    color: #6a6a6a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
}

.case .item .p2 {
    padding-left: 15px;
    line-height: 22px;
    color: #8f8f8f;
}

.win-title a {
    position: absolute;
    right: 0;
    top: 15px;
    color: #999;
    font-size: 12px;
    font-weight: normal;
}

.AreaR {
    width: 280px;
    float: right;
}

.submit-info {
    padding: 15px;
    color: #666;
    position: relative;
}

/*case editor*/
.case_banner img {
    float: left;
}

.xgt_select_type {
    margin-top: 0 !important;
}

.case_order {
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
    width: 1220px;
    z-index: 100;
    padding: 10px 0;
}

.case_order h4 {
    font-size: 25px;
    border-left: 3px solid #da261e;
    font-weight: normal;
    padding-left: 16px;
    margin: 8px 25px;
    height: 25px;
    line-height: 25px;
    color: #000000;
    display: inline-block;
    vertical-align: top;
}

.case_order h4 span {
    font-size: 18px;
    margin-left: 5px;
}

.case_order h4 span em {
    font-size: 25px;
}

.case_order form {
    display: inline-block;
    width: 63%;
    text-align: right;
}

.case_order form input {
    background: #fafafa;
    border: 1px solid #d8d8d8;
    color: #999999;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-right: 10px;
    width: 245px;
    text-indent: 25px;
    vertical-align: top;
}

.case_order form a {
    display: inline-block;
    height: 23px;
}