.vr_state_img {
    display: block;
    width: 120px;
    height: 35px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.vr_img_right div:nth-child(1) {
    width: 400px;
    height: 235px;
}

.vr_img_right {
    overflow: hidden;
}

.vr_img_right:hover {
    height: 40px;
}

.vr_link {
    display: block;
    color: #fff
}

.vr_link span {
    padding: 0 5px
}