* {
    margin: 0;
    padding: 0;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, img, blockquote, pre, a, abbr, address, code, del, dfn, em, q, dl, dt, dd, ol, ul, li, fieldset, form, legend, caption, tbody, tfoot, thead, article, aside, figure, footer, header, hgroup, nav, section, button, input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

/*å®šä¹‰ä¼ªå…ƒç´ ç›’å­æ¨¡åž‹*/
*:before, *:after {
    box-sizing: border-box;
}

/*å®šä¹‰ä¸»ä½“å®½é«˜*/
body {
    width: 100%;
    height: 100%;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
    font-family: "å¾®è½¯é›…é»‘";
    background-color: #ededef;
}

img {
    overflow: hidden;
}

/*å®šä¹‰å­—ä½“*/
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

/*è¡¨æ ¼*/
table {
    border-spacing: 0;
    border-collapse: collapse;
}

/*å®šä¹‰æ–‡æœ¬åŸŸæº¢å‡ºè‡ªåŠ¨*/
textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}

button, input, select {
    overflow: visible;
}

/*è¿žæŽ¥ç›¸å…³*/
a {
    text-decoration: none;
}

a.disabled, a.disabled:hover {
    pointer-events: none;
}

:link, :hover, :active, :visited, :focus {
    outline: none;
    text-decoration: none;
}

/*æŒ‰é’®ç›¸å…³*/
button[disabled], input[disabled] {
    background-color: #666;
}

/*åˆ—è¡¨*/
ul, ol, li {
    list-style: none;
}

/*æ ‡è®°ç»„åˆå™¨*/
span, button {
    display: inline-block;
}

i {
    font-style: normal;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #9b9b9b;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #9b9b9b;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #9b9b9b;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #9b9b9b;
}


.all {
    width: 1210px;
    margin: 0 auto;
    margin-top: 18px;
    min-height: 470px;
    background-color: #fff;
    border-top: 1px solid #a3c84a;
    padding-bottom: 50px;
}

.all_box {
    height: 56px;
    line-height: 56px;
    border-bottom: 2px solid #ed6c00;
    margin: 25px 20px 0;
}

.all_box h3, .all_box a {
    font-size: 24px;
    font-weight: normal;
    color: #333333;
    float: left;
}

.all_box a {
    width: 138px;
    height: 38px;
    line-height: 38px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    float: right;
    border: 1px solid #ed6c00;
    margin-top: 8px;
}

.citytype {
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
}

.city_cloose {
    margin: 0 auto;
    height: 58px;
    display: inline-block;
}

.city_cloose span {
    float: left;
    margin-right: 10px;
    line-height: 58px;
    color: #666;
}

.city_cloose .cyty_all {
    position: relative;
    min-width: 130px;
    height: 58px;
    line-height: 58px;
    float: left;
    padding: 0 20px;
    font-size: 24px;
    border: 1px solid #999;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.cyty_all span {
    color: #333;
}

.cyty_all .posicity {
    position: absolute;
    left: -115px;
    top: 58px;
    width: 430px;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    background-color: #fff;
    color: #333333;
    padding: 15px;
}

.posi_ul {
    position: relative;
}

.posicity ul li.on {
    background-color: #90be20 !important;
    color: #fff;
}

.posicity ul li {
    float: left;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
    color: #333;
}

.posicity ul li ul {
    position: absolute;
    left: 0px;
    top: 37px;
    z-index: 1000;
    background-color: #f2f2f2;
    width: 400px;
}

.posicity ul li ul li.in {
    background-color: #90be20;
    color: #Fff;
}

.cyty_all i {
    margin-left: 12px;
}

.dsicon {
    background: url("../images/design_icon.png") no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.iconarrow {
    width: 15px;
    height: 10px;
    background-position: -50px -10px;
}

.icondraw {
    margin: -8px 10px 0 0;
    width: 22px;
    height: 22px;
    background-position: -50px -200px;
}

.all_box a:hover {
    background-color: #ed6c00;
    color: #fff;
}

.all_box a:hover .dsicon {
    background-position: -90px -200px;
}

.search {
    width: 24px;
    height: 24px;
    background-position: -90px -10px;
    margin-right: 10px;
}

.city_cloose .inputtext {
    float: left;
    padding: 8px 25px;
    width: 670px;
    height: 58px;
    line-height: 40px;
    border: 1px solid #999;
    font-size: 16px;
    margin-left: -1px;
}

.city_cloose #floorplan {
    float: left;
    width: 132px;
    height: 58px;
    line-height: 58px;
    background-color: #90be20;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.all_con {
}

.all_con_top {
    margin: 25px 0 45px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.all_con_top a {
    color: #ed6c00;
}

.all_con_btn {
    margin-left: 22px;
}

.all_con_btn li {
    position: relative;
    width: 292px;
    height: 390px;
    float: left;
    padding: 20px 24px;
    margin: -1px 0 0 -1px;
    border: 1px solid #ddd;
}

.all_con_btn li img {
    vertical-align: middle;
    margin-bottom: 18px;
}

.all_con_btn li p {
    font-size: 14px;
    color: #333;
}

.all_con_btn li span {
    position: absolute;
    left: 50%;
    margin-left: -35px;
    top: 50%;
    margin-top: -20px;
    width: 70px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.more {
    padding-top: 30px;
    text-align: center;
}

.more a {
    font-size: 18px;
    color: #333333;
}

.more:hover a {
    color: #ed6c00;
}

.btn {
    display: none;
}

.all_con_btn li:hover span {
    display: block;
}


.all {
    width: 1210px;
    margin: 0 auto;
    margin-top: 18px;
    min-height: 790px;
    background-color: #fff;
    border-top: 1px solid #a3c84a;
    padding-bottom: 50px;
}

.all_box {
    height: 56px;
    line-height: 56px;
    border-bottom: 2px solid #ed6c00;
    margin: 25px 20px 0;
}

.all_box h3, .all_box a {
    font-size: 24px;
    font-weight: normal;
    color: #333333;
    float: left;
}

.all_box a {
    width: 138px;
    height: 38px;
    line-height: 38px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    float: right;
    border: 1px solid #ed6c00;
    margin-top: 8px;
}

.all_box .myself {
    background-color: #ed6c00;
    color: #fff;
}

.all_box .new_a {
    float: right;
    margin-right: 15px;
    border: 1px solid #a3c84a;
}

.iconleft, .iconright, .iconradd, .iconrtime {
    width: 17px;
    height: 17px;
    display: inline-block;
    background: url("../images/you.png") no-repeat;
    vertical-align: middle;
}

.iconright {
    background: url("../images/gai1.png") no-repeat;
}

.iconradd {
    width: 11px;
    height: 15px;
    background: url("../images/di.png") no-repeat;
}

.iconrtime {
    width: 15px;
    height: 15px;
    background: url("../images/time.png") no-repeat;
}

.main {
    margin: 0 auto;
    padding-top: 50px;
    margin: 0 20px;
}

.main ul li {
    margin-bottom: 20px;
    border: 1px solid rgb(177, 177, 177);
}

.main .img_left {
    width: 187px;
    height: 191px;
    float: left;
}

.img_left img {
    display: block;
    border-right: 1px solid #ddd;
}

.main .con_right {
    float: left;
    margin-left: 50px;
    margin-top: 30px;
}

.con_right .stage_span {
    font-size: 16px;
    color: #fff;
    background-color: rgb(177, 177, 177);
    padding: 5px 10px;
}

.con_right .stage_a {
    font-size: 18px;
    color: rgb(50, 50, 50);
    padding-left: 10px;
}

.con_right .stage_addree, .stage_time {
    font-size: 16px;
    color: #99999a;
    margin: 15px 0 30px 0;
}

.con_right .stage_time {
    padding-left: 20px;
}

.con_right .go_fixture, .go_alter {
    width: 120px;
    height: 30px;
    line-height: 30px;
    color: #333;
    text-align: center;
    display: inline-block;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
}

.con_right .go_alter {
    margin-left: 20px;
}

.con_right .go_fixture.on {
    background-color: rgb(237, 108, 0) !important;
    color: #fff;
    border: 1px solid rgb(237, 108, 0);
}

.img_bg1 {
    width: 100%;
    height: 336px;
    background: url("../image/yun1.jpg") no-repeat center;
    min-width: 1210px;
}

.img_bg2 {
    width: 100%;
    height: 372px;
    background: url("../image/yun2.jpg") no-repeat center;
    min-width: 1210px;
}

.conter_pos {
    position: relative;
    width: 1210px;
    height: 336px;
    margin: 0 auto;
    padding-top: 160px;
}

.begin {
    display: block;
    width: 180px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    background-color: #f65b00;
    border-radius: 5px;
    text-align: center;
    margin: 465px;
    transition: all 0.3s ease-out;
}

.begin:hover {
    background-color: rgba(246, 91, 0, .7);
}

.fast_build {
    width: 100%;
    background-color: #fff;
    padding: 45px 0 75px 0;
}

.fast_build_con {
    width: 1210px;
    margin: 0 auto;
    height: 563px;
    box-shadow: 1px 1px 5px #999, 2px -1px 5px #999
}

.fast_build_con_one {
    width: 236px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 90px;
    padding-left: 15px;
    display: inline-block;
}

.fast_build_con_one h3 {
    font-size: 30px;
    color: #323333;
    font-weight: normal;
}

.fast_build_con_one p {
    font-size: 22px;
    color: #323333;
    padding: 15px 0 20px 0;
}

.fast_build_con_one span {
    font-size: 17px;
    color: #323333;
}

.fast_build_con_two {
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 75px;
}

.fast_build_con_two .two_p {
    width: 20px;
    height: 4px;
    background-color: #666666;
    display: block;
    margin-bottom: 20px;
}

.fast_build_con_two ul li {
    font-size: 16px;
    color: #666666;
    line-height: 40px;
    background: url("../image/tab1.png") no-repeat;
    background-position: 0 2px;
    padding-left: 30px;
    box-sizing: border-box;
    cursor: pointer;
}

.fast_build_con_two ul li:nth-child(1) {
}

.fast_build_con_two ul li:nth-child(2) {
    background-position: 0 -38px
}

.fast_build_con_two ul li:nth-child(3) {
    background-position: 0 -82px
}

.fast_build_con_two ul li:nth-child(4) {
    background-position: 0 -122px
}

.fast_build_con_two ul li.on {
    background: url("../image/tab1.png") no-repeat;
    background-position: 0 2px;
}

.fast_build_con_two ul li.on:nth-child(2) {
    background-position: 0 -38px
}

.fast_build_con_two ul li.on:nth-child(3) {
    background-position: 0 -82px
}

.fast_build_con_two ul li.on:nth-child(4) {
    background-position: 0 -122px
}


.fast_build_con_three {
    width: 22px;
    height: 100%;
    background-color: #da251d;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 130px;
    margin-right: 21px;
}

.fast_build_con_three ul {
    vertical-align: bottom;
    display: inline-block;
    width: 100%;
    margin-top: 360px;
}

.fast_build_con_three ul li {
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #Fff;
    cursor: pointer;
}

.fast_build_con_three ul li.in {
    background-color: #ff9658;
}

.fast_build_con_four {
    display: inline-block;
    vertical-align: bottom;
    width: 681px;
}

.fast_build_con_four ul {
}

.fast_build_con_four ul li {
}

.fast_style {
    width: 100%;
    background-color: #fff;
    padding: 45px 0 75px 0;
}

.fast_build_con {
}

.fast_build_con_top {
    padding: 45px 0 20px 15px;
}

.fast_build_con_top h3 {
    font-size: 30px;
    color: #323333;
    font-weight: normal;
    padding-bottom: 10px;
}

.fast_build_con_top p {
    font-size: 18px;
    color: #323333;
}

.fast_build_con_bot {
    text-align: right;
}

.fast_build_con_bot_ul {
    display: inline-block;
    border-bottom: 1px solid #fdb890;
    margin-bottom: 10px;
}

.fast_build_con_bot_ul li {
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.fast_build_con_bot_ul li.actve {
    border-bottom: 3px solid #f65b00;
}

.style_ban {
}

.style_ban ul li img {
    width: 100%;
    display: block;
    border: none;
}

.con_height {
    height: auto;
}

.img_bg3 {
    width: 100%;
    height: 336px;
    background: url("../image/yun3.jpg") no-repeat center;
    min-width: 1210px;
}

.img_bg4 {
    width: 100%;
    height: 351px;
    background: url("../image/yun4.jpg") no-repeat center;
    min-width: 1210px;
}

.img_bg5 {
    width: 100%;
    height: 355px;
    background: url("../image/yun5.jpg") no-repeat center;
    min-width: 1210px;
}

.img_bg6 {
    width: 100%;
    height: 301px;
    background: url("../image/yun6.jpg") no-repeat center;
    min-width: 1210px;
}

.img_bg7 {
    width: 100%;
    height: 175px;
    background: url("../image/yun7.jpg") no-repeat center;
    min-width: 1210px;
}

.img_bg8 {
    width: 100%;
    height: 445px;
    background: url("../image/yun8.jpg") no-repeat center;
    min-width: 1210px;
}

.conter_go {
    position: relative;
    width: 1210px;
    height: 336px;
    margin: 0 auto;
    padding-top: 203px;
    box-sizing: border-box;
}


