{% extends 'jianmei/base_house.html' %}
{% load static %}
{% block house_block %}
    <div class="mian_left clearfix">
        <img height="40" width="40" src="{% get_static_prefix %}jianmei/image/logo.jpg">
        <h3>{{ article.title }}</h3>
        <p class="time_now main_top_p">发布时间：{{ article.publish_date|date:"DATETIME_FORMAT" }}</p>
        <style>
            .content > div a {
                color: #fe0f36;
            }
        </style>
        <div class="content">
            <p style="text-align:center;">
                　　<img style="max-width: 650px;max-height: 380px" src="{% get_media_prefix %}{{ article.image }}"
                       alt="">
            </p>
            <div>
                {{ article.content|linebreaks }}
            </div>
        </div>

        <div class="main_botton">
            <h3>相关阅读</h3>
            <div class="reading">
                <ul>
                    {% for a in latest %}
                        <li class="clearfix">
                            <a href="/article/{{ a.id }}">
                                <img src="{% get_media_prefix %}{{ a.image }}"></a>
                            <div class="reading_li_right">
                                <a href="/article/{{ a.id }}" class="head_title">{{ a.title }} </a>
                                <div class="link_a">
                                    <p class="reading_li_right_p">
                                        　　{{ a.content|slice:"20" }}.. </p>
                                    <a href="/article/{{ a.id }}" class="all_new">全文&gt;&gt;</a>
                                </div>
                                <span class="span_time">{{ a.publish_date|date:"SHORT_DATE_FORMAT" }}</span>
                                <span class="span_numb">浏览：{{ a.click_count }}次</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}