{% extends 'jianmei/base.html' %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" href="{% static 'jianmei/css/news.css' %}"/>
    <div class=" all">
        <div class="list_mian theon">
            <div class="image"><img src="{% static 'jianmei/image/banner.jpg' %}">
            </div>

            <style>
                .reading li span {
                    display: block;
                    width: 50%;
                    float: left;
                }

                .leftright_all {
                    word-spacing: 0px
                }
            </style>

            <div class="leftright_all">
                <div class="mian_left clearfix">
                    <div class="main_botton news_h3">
                        <img src="{% static 'jianmei/image/logo.jpg' %}" height="40" width="40">
                        <h3>热装楼盘</h3>
                        <p class=""></p>
                        <div class="reading">
                            <ul>
                                <li class="clearfix">
                                    <a target="_blank" href="/Article/detail/id/3649.html"><img
                                            src="/Websites/shenghuojia/Uploads/Picture/2018-06-30/5b373601cf2fc.jpg"
                                            alt="华鹏梧桐邑"></a>
                                    <div class="reading_li_right">
                                        <a target="_blank" href="/Article/detail/id/3649.html" class="head_title">华鹏梧桐邑
                                        </a>
                                        <div class="tabpag">

                                        </div>
                                        <div class="link_a">
                                            <p class="reading_li_right_p">
                                                华鹏·梧桐邑是由鑫鼎集团旗下宜昌华鹏置业有限公司斥巨资倾力打造的100万方精英人文社区!项目占据未来新政务中心核心.. <a
                                                    target="_blank" href="/Article/detail/id/3649.html" class="all_new">查看全部&gt;&gt;</a>
                                            </p>
                                        </div>
                                        <span>咨询户数：200 户</span>
                                        <span>签约户数：50 户</span>
                                        <span>开工户数：3 户</span>
                                        <span>竣工户数：35 户</span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <a target="_blank" href="/Article/detail/id/3648.html"><img
                                            src="/Websites/shenghuojia/Uploads/Picture/2018-06-30/5b3734513d613.jpg"
                                            alt="保利时代"></a>
                                    <div class="reading_li_right">
                                        <a target="_blank" href="/Article/detail/id/3648.html" class="head_title">保利时代
                                        </a>
                                        <div class="tabpag">

                                        </div>
                                        <div class="link_a">
                                            <p class="reading_li_right_p">
                                                保利时代位于东山开发区，东山开发区因其独特的地理位置，成为宜昌交通的“天府之地”，而宜昌保利时代所在区域盘踞东.. <a
                                                    target="_blank" href="/Article/detail/id/3648.html" class="all_new">查看全部&gt;&gt;</a>
                                            </p>
                                        </div>
                                        <span>咨询户数：130 户</span>
                                        <span>签约户数：15 户</span>
                                        <span>开工户数：0 户</span>
                                        <span>竣工户数：0 户</span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <a target="_blank" href="/Article/detail/id/3444.html"><img
                                            src="/Websites/shenghuojia/Uploads/Picture/2018-06-29/5b359873da947.jpg"
                                            alt="巴黎香颂"></a>
                                    <div class="reading_li_right">
                                        <a target="_blank" href="/Article/detail/id/3444.html" class="head_title">巴黎香颂
                                        </a>
                                        <div class="tabpag">

                                        </div>
                                        <div class="link_a">
                                            <p class="reading_li_right_p">
                                                宜化·巴黎香颂是宜化地产运营城市的巨著，项目位于宜昌城东大道与东风路交汇处（运河公园斜对面），总占地面积约14万.. <a
                                                    target="_blank" href="/Article/detail/id/3444.html" class="all_new">查看全部&gt;&gt;</a>
                                            </p>
                                        </div>
                                        <span>咨询户数：230 户</span>
                                        <span>签约户数：85 户</span>
                                        <span>开工户数：2 户</span>
                                        <span>竣工户数：60 户</span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <a target="_blank" href="/Article/detail/id/2647.html"><img
                                            src="/Websites/shenghuojia/Uploads/Picture/2018-05-15/5afa3f8e4a0fe.jpg"
                                            alt="山水华庭"></a>
                                    <div class="reading_li_right">
                                        <a target="_blank" href="/Article/detail/id/2647.html" class="head_title">山水华庭
                                        </a>
                                        <div class="tabpag">

                                        </div>
                                        <div class="link_a">
                                            <p class="reading_li_right_p">
                                                山水华庭项目位于宜昌市伍家岗区，东山大道与东艳路交汇处，交通便利，东依市政规划的白马山公园，南临东山大道，西接.. <a
                                                    target="_blank" href="/Article/detail/id/2647.html" class="all_new">查看全部&gt;&gt;</a>
                                            </p>
                                        </div>
                                        <span>咨询户数：160 户</span>
                                        <span>签约户数：26 户</span>
                                        <span>开工户数：0 户</span>
                                        <span>竣工户数：23 户</span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <a target="_blank" href="/Article/detail/id/2574.html"><img
                                            src="/Websites/shenghuojia/Uploads/Picture/2018-05-13/5af801be3c46d.jpg"
                                            alt="城中金谷"></a>
                                    <div class="reading_li_right">
                                        <a target="_blank" href="/Article/detail/id/2574.html" class="head_title">城中金谷
                                        </a>
                                        <div class="tabpag">

                                        </div>
                                        <div class="link_a">
                                            <p class="reading_li_right_p">
                                                城中金谷项目由宜昌凯利投资有限公司开发，位于东山大道合益路88号（宝塔河站近中南路），是城东片区又一生态大盘。项.. <a
                                                    target="_blank" href="/Article/detail/id/2574.html" class="all_new">查看全部&gt;&gt;</a>
                                            </p>
                                        </div>
                                        <span>咨询户数：180 户</span>
                                        <span>签约户数：40 户</span>
                                        <span>开工户数：1 户</span>
                                        <span>竣工户数：33 户</span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <a target="_blank" href="/Article/detail/id/2572.html"><img
                                            src="/Websites/shenghuojia/Uploads/Picture/2018-05-13/5af7fabf9db8e.jpg"
                                            alt="宏峰上上城"></a>
                                    <div class="reading_li_right">
                                        <a target="_blank" href="/Article/detail/id/2572.html" class="head_title">宏峰上上城
                                        </a>
                                        <div class="tabpag">

                                        </div>
                                        <div class="link_a">
                                            <p class="reading_li_right_p">
                                                宏峰·上上城项目是由湖北宏峰房地产发展有限公司开发，总占地约480亩，总建筑面积约75万方，建成后将是集温泉别墅、花.. <a
                                                    target="_blank" href="/Article/detail/id/2572.html" class="all_new">查看全部&gt;&gt;</a>
                                            </p>
                                        </div>
                                        <span>咨询户数：120 户</span>
                                        <span>签约户数：35 户</span>
                                        <span>开工户数：0 户</span>
                                        <span>竣工户数：26 户</span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <a target="_blank" href="/Article/detail/id/2571.html"><img
                                            src="/Websites/shenghuojia/Uploads/Picture/2018-05-13/5af7f9f96cda8.jpg"
                                            alt="天域水岸"></a>
                                    <div class="reading_li_right">
                                        <a target="_blank" href="/Article/detail/id/2571.html" class="head_title">天域水岸
                                        </a>
                                        <div class="tabpag">

                                        </div>
                                        <div class="link_a">
                                            <p class="reading_li_right_p">
                                                项目由宜昌鸿泰置业有限公司开发，位于宜昌市伍家岗区金东方校区旁，与长江一路相隔，占据滨江豪宅聚集区的核心位置，.. <a
                                                    target="_blank" href="/Article/detail/id/2571.html" class="all_new">查看全部&gt;&gt;</a>
                                            </p>
                                        </div>
                                        <span>咨询户数：60 户</span>
                                        <span>签约户数：10 户</span>
                                        <span>开工户数：0 户</span>
                                        <span>竣工户数：10 户</span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <a target="_blank" href="/Article/detail/id/2570.html"><img
                                            src="/Websites/shenghuojia/Uploads/Picture/2018-05-13/5af7f8cb221a9.jpg"
                                            alt="中建宜昌之星"></a>
                                    <div class="reading_li_right">
                                        <a target="_blank" href="/Article/detail/id/2570.html" class="head_title">中建宜昌之星
                                        </a>
                                        <div class="tabpag">

                                        </div>
                                        <div class="link_a">
                                            <p class="reading_li_right_p">
                                                中建宜昌之星项目总占地面积约760亩，总建筑面积约170万平米，其中住宅约100万平米，商业７0万平米，投资额150亿元。规.. <a
                                                    target="_blank" href="/Article/detail/id/2570.html" class="all_new">查看全部&gt;&gt;</a>
                                            </p>
                                        </div>
                                        <span>咨询户数：366 户</span>
                                        <span>签约户数：59 户</span>
                                        <span>开工户数：3 户</span>
                                        <span>竣工户数：23 户</span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <a target="_blank" href="/Article/detail/id/2569.html"><img
                                            src="/Websites/shenghuojia/Uploads/Picture/2018-05-13/5af7f790b7836.jpg"
                                            alt="清江月亮湾"></a>
                                    <div class="reading_li_right">
                                        <a target="_blank" href="/Article/detail/id/2569.html" class="head_title">清江月亮湾
                                        </a>
                                        <div class="tabpag">

                                        </div>
                                        <div class="link_a">
                                            <p class="reading_li_right_p">
                                                清江月亮湾是清能地产集团在宜昌倾力打造的第五个楼盘，凝聚国企实力，高端品质保证。项目紧邻宜昌火车客运站及汽车客.. <a
                                                    target="_blank" href="/Article/detail/id/2569.html" class="all_new">查看全部&gt;&gt;</a>
                                            </p>
                                        </div>
                                        <span>咨询户数：69 户</span>
                                        <span>签约户数：12 户</span>
                                        <span>开工户数：1 户</span>
                                        <span>竣工户数：5 户</span>
                                    </div>
                                </li>
                            </ul>


                        </div>

                        <div class="paginator">
                            <div class="pages">
                                <ul>
                                    <ul class="paging_ul">
                                        <li class="paging_first"><a href="/lists/63/p/1/fenzhan/91.html">首</a></li>
                                        <li class="paging_last"><a href="/lists/63/p/1/fenzhan/91.html">尾</a></li>
                                        <li class="total"><a style="width:auto;" href="#"><font
                                                color="red">1</font>/1</a></li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mian_right">
                    <div class="mian_right_top">
                        <h3>推荐阅读</h3>
                        <ul>
                        </ul>
                    </div>


                    <div class="case_tel">
                        <p>服务热线</p>
                        <p> 0717-6590399 </p>
                    </div>
                    <div class="tab_form">
                        <h3>抢免费设计名额</h3>
                        <div class="many">
                            <a>今日剩下</a>
                            <span>1</span>
                            <span>6</span>
                            <span>8</span>
                            <a>个免费名额</a>
                        </div>
                        <div class="center_form">
                            <form onsubmit="return false">
                                <div class="the_height"><input type="text" name="mianji" placeholder="请输入面积"
                                                               style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                </div>
                                <div class="the_height"><input type="text" name="diqu" placeholder="请输入所在地区"></div>
                                <div class="the_height"><input type="text" name="name" placeholder="您的称呼"></div>
                                <div class="the_height"><input type="text" name="phone" placeholder="填写手机号码，获取免费设计名额">
                                </div>
                                <a href="javascript:;" class="go_for gonglve_liuyan">立即申请</a>
                                <input type="hidden" name="laiyuan" value="91装修攻略留言">
                            </form>
                            <script>
                                $(function () {
                                    $('.gonglve_liuyan').on('click', function () {

                                        var form = $(this).closest('form');
                                        var name = $.trim(form.find('input[name=name]').val());
                                        if ('' == name) {
                                            alert('请填写您的称呼');
                                            return false;
                                        }
                                        if (validatemobile(form.find('input[name=phone]').val())) {
                                            $.post('/index.php?s=/Zhuangxiu/receive', form.serialize(), function (msg) {
                                                if (msg.status) {
                                                    alert('提交成功,我们将尽快联系您,感谢您的信任^v^');
                                                    location.reload();
                                                }
                                            })
                                        }

                                    })
                                })
                            </script>
                        </div>
                    </div>
                    <div class="module">
                        <div class="module_top">
                            <h3>推荐模块</h3>
                            <!-- <a href="javascript:;">更多>></a>-->
                        </div>
                        <div class="more_pag clearfix">
                            <ul>
                                <li><a href="/Article/lists/category/8.html">装修设计</a></li>
                                <li><a href="/Article/lists/category/32.html">装修材料</a></li>
                                <li><a href="/Article/lists/category/7.html">装修日记</a></li>
                                <li><a href="/Article/lists/category/53.html">施工工艺</a></li>
                                <li><a href="/Article/lists/category/54.html">装修省钱</a></li>
                                <li><a href="/Article/lists/category/55.html">家具软装</a></li>
                                <li><a href="/Article/lists/category/56.html">装修风水</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}